body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.block-expand-sibling {
    &+* {
        display: block;
        width: 100%;
        height: 100%;
        flex-grow: 1;
        min-height: 0;
    }
}

.material-symbols-outlined {
    font-size: 20px;
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'20
}

.p-togglebutton {
    &.p-highlight {
        p-button-label {
            color: #ffffff;
            background-color: #007ad9;
        }
    }
}

.custom-clr-tbutton {
    .p-togglebutton.p-highlight .p-button-label {
        color: #ffffff;
        @apply bg-green-500;
        @apply bg-opacity-30;
    }
    
    .p-togglebutton .p-button-label {
        color: #ffffff;
        @apply bg-red-500;
        @apply bg-opacity-30;
    }
}