<div class="w-full flex justify-between gap-4 h-full py-4">
    <div class="flex items-center gap-2">
        @if (selectedFileName) {
        <span
            class="text-lg h-[40px] border-solid border border-gray-600 px-2 flex items-center rounded-md text-gray-300">
            Reviewing:
            {{selectedFileName.fileName}}
        </span>
        <button pButton (click)="closeFile()" severity="danger" [outlined]="true" class="flex items-center gap-2">
            Close
            <span class="material-symbols-outlined">
                close
            </span>
        </button>
        <button pButton severity="info" [outlined]="true"
            class="flex items-center gap-2" (click)="reviewFile?.completeReview()">
            Download
            <span class="material-symbols-outlined">
                download
            </span>
        </button>
            @if(this.reviewService.isReviewed(selectedFileName.fileName)){
                <button pButton severity="danger" [outlined]="true" class="flex items-center gap-2" (click)="reviewService.remove(selectedFileName.fileName)">
                    Remove Review
                    <span class="material-symbols-outlined">check_circle</span>
                </button>
            }@else{
                <button pButton severity="success" [outlined]="true" class="flex items-center gap-2" (click)="reviewFile?.markReviewed()">
                    Mark Reviewed
                    <span class="material-symbols-outlined">check_circle</span>
                </button>
            }
        } @else {
            <span class="text-lg">Choose a file to review</span>
            <button pButton severity="primary" [outlined]="true" class="flex items-center gap-1" (click)="this.addLocalFile($event)">
                Add
                <span class="material-symbols-outlined">add</span>
            </button>
        }
    </div>
    <div class="flex justify-between gap-4">
        <p-dropdown [readonly]="this.selectedFileName" [options]="assistantsData" (onChange)="this.selectAssistant($event)"
            [(ngModel)]="connectionService.selectedAssistant" placeholder="Select an Assistant" styleClass="w-[20rem]"
            [filter]="true" optionLabel="name" />


        <button pButton (click)="menu.toggle($event)">
            <span class="flex gap-2">
                Options
                <span class="material-symbols-outlined">apps</span>
            </span>
        </button>


        <p-menu #menu [model]="menuItem" [popup]="true" />
    </div>
</div>

@if (selectedFileName) {
<app-review-file (onDownloaded)="closeFile()" (onClose)="closeFile()" [fileName]="selectedFileName.originalName" [fileBlob]="selectedFileName.localBlob"></app-review-file>
} @else {
<app-files-list #refFileList (onSelectFile)="selectedFileName = $event"></app-files-list>
}


<p-dialog header="Connect to Storage" [modal]="true" [(visible)]="showConnectionDialog" [style]="{ width: '30vw' }">
    <ng-container [formGroup]="connectionForm">
        <div class="flex flex-col gap-3 mb-3 items-start w-full">
            <label for="connection" class="font-semibold w-full">Connection String</label>
            <input pInputText id="connection" class="flex-auto w-full" autocomplete="off"
                formControlName="connectionString" />
        </div>
        <div class="flex flex-col gap-3 mb-3 items-start w-full">
            <label for="path" class="font-semibold w-full">Path</label>
            <input pInputText id="path" class="flex-auto w-full" autocomplete="off" formControlName="path" />
        </div>
        <div class="flex flex-col gap-3 mb-3 items-start w-full">
            <label for="sessionId" class="font-semibold w-full">Session Id</label>
            <input pInputText id="sessionId" class="flex-auto w-full" autocomplete="off" formControlName="sessionId" />
        </div>
        <div class="flex align-items-center gap-3 items-start w-full">
            <p-inputSwitch
                    formControlName="includeReviewed"
                    inputId="includeReviewed" />
            <label for="path" class="font-semibold w-full">Include Reviewed</label>

        </div>
        <div class="flex justify-end gap-2 mt-8 w-full">
            <p-button label="Cancel" severity="secondary" (onClick)="closeDialog()" />
            <p-button label="Save" (onClick)="save()" />
        </div>
    </ng-container>
</p-dialog>

<p-dialog header="Tools" [modal]="true" [(visible)]="showToolDialog" [style]="{ width: '30vw' }">
    <ng-container>
        <div class="flex flex-col gap-3 mb-3 items-start w-full">
            <label for="connection" class="font-semibold w-full">JSON Parameters</label>
            <textarea rows="20" cols="50" pInputTextarea [(ngModel)]="this.toolDialogValue">
        </textarea>
        </div>

        <div class="flex justify-end gap-2 mt-8 w-full">
            @if(this.assistantService.isConnected()){
            <p-button label="Refresh" severity="secondary" (onClick)="fetchPrompt()" />
            }
            <p-button label="Cancel" severity="secondary" (onClick)="closeToolDialog()" />
            <p-button label="Save" (onClick)="saveToolDialog()" />
        </div>
    </ng-container>
</p-dialog>

<p-dialog header="Connect to OpenAI" [modal]="true" [(visible)]="showOpenAiDialog" [style]="{ width: '30vw' }">
    <ng-container>
        <div class="flex flex-col gap-3 mb-3 items-start w-full">
            <label for="apiKey" class="font-semibold w-full">Open AI API Key</label>
            <input pInputText id="apiKey" class="flex-auto w-full" [(ngModel)]="openAiKey" autocomplete="off" />
        </div>
        <div class="flex justify-end gap-2 mt-8 w-full">
            <p-button label="Cancel" severity="secondary" (onClick)="closeOpenAiDialog()" />
            <p-button label="Save" (onClick)="saveOpenAiDialog()" />
        </div>
    </ng-container>
</p-dialog>